body {
    background: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    border: 0;
    margin: 0;
}

//reset button
button {
    background: #fff;
    color: #000;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 100;
    border-radius: 1px;
    border: 1px solid #000;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: #000;
        color: #fff;
        border: 1px solid #fff;
    }
}

input {
    outline: none;
    border: 1px solid #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.mainForm,
.backButton {

    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    input {
        background: #fff;
        color: #000;
        padding: 5px 10px;
        border-radius: 1px;
        width: 270px;
    }
}

.allign-center {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 100%;
    }
}

.timer {
    font-family: 'Minecraft', sans-serif;
    font-size: 100px
}

.timer-wrapper {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.p001 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p002 {
    .math-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .math {
        font-size: 42px;

    }
}

.p003 {
    span {
        display: contents;
    }
}

.p004 {
    span {
        display: none;
    }
}

.p005 {
    .timer {
        font-size: 24px;
    }
}

.p006 {
    width: 100%;
    height: 100vh;
    background: #fff;

    audio {
        display: none;
    }
}

.p010 {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 70px;
    }
}

.ingame {
    position: absolute;
    left: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #000;
    padding: 30px;
    border-radius: 10px;

    p {
        color: #fff;
    }
}